<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FSH Finder 🐟🔭</title>

    <link rel="shortcut icon" href="/favicons/favicon.ico">
    <link rel="apple-touch-icon" href="/favicons/apple-touch-icon-180x180.png" sizes="180x180">
    <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicons/android-36x36.png" sizes="36x36">
    <link rel="icon" type="image/png" href="/favicons/android-48x48.png" sizes="48x48">
    <link rel="icon" type="image/png" href="/favicons/android-72x72.png" sizes="72x72">
    <link rel="icon" type="image/png" href="/favicons/android-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicons/android-144x144.png" sizes="144x144">
    <link rel="icon" type="image/png" href="/favicons/android-192x192.png" sizes="192x192">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha512-oc9+XSs1H243/FRN9Rw62Fn8EtxjEYWHXRvjS43YtueEewbS6ObfXcJNyohjHqVKFPoXXUxwc+q1K7Dee6vv9g==" crossorigin="anonymous">

    <style>
        .ig-info a:link, .ig-info a:hover, .ig-info a:active { color: #888; text-decoration: underline; }
        .ig-info a:visited { color: #8b75ac; text-decoration: underline; }
        .ig-info { color: #888; }
        .ig-info img { opacity: 0.4; }
        header h1 {
            font-size: 2rem;
        }
        header {
            margin-bottom: 1.25rem;
        }
        header svg {
            display: inline-block;
            width: 1rem;
            height: 1rem;
            vertical-align: text-top;
        }


        .callout {
            padding: 1.25rem;
            border: 1px solid #eee;
            border-left-width: .25rem;
            border-radius: .25rem;
            margin-bottom: 1.25rem;
        }
        .callout-warning {
            border-left-color: #f0ad4e;
        }
        .callout p, .callout ul {
            margin-bottom: 0;
        }
    </style>

</head>
<body>

<header class="navbar navbar-expand flex-column flex-md-row shadow-sm">
    <h1 class="my-0 mr-md-auto">FSH Finder 🐟🔭</h1>

    <ul class="navbar-nav ml-md-auto">
        <li class="nav-item dropdown">
            <a class="nav-item nav-link dropdown-toggle text-dark" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other formats
            </a>
            <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="bd-versions">
                <a class="dropdown-item" href="fshy_repos.json">JSON</a>
                <a class="dropdown-item" href="fshy_repos.txt">Plain text</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link pl-3 pr-3 mx-1 py-3 my-n2 text-dark" href="https://github.com/FSHSchool/fsh-finder/" rel="noopener" aria-label="GitHub"><svg xmlns="http://www.w3.org/2000/svg" class="navbar-nav-svg" viewBox="0 0 512 499.36" role="img" focusable="false"><title>GitHub</title><path d="M256 0C114.64 0 0 114.61 0 256c0 113.09 73.34 209 175.08 242.9 12.8 2.35 17.47-5.56 17.47-12.34 0-6.08-.22-22.18-.35-43.54-71.2 15.49-86.2-34.34-86.2-34.34-11.64-29.57-28.42-37.45-28.42-37.45-23.27-15.84 1.73-15.55 1.73-15.55 25.69 1.81 39.21 26.38 39.21 26.38 22.84 39.12 59.92 27.82 74.5 21.27 2.33-16.54 8.94-27.82 16.25-34.22-56.84-6.43-116.6-28.43-116.6-126.49 0-27.95 10-50.8 26.35-68.69-2.63-6.48-11.42-32.5 2.51-67.75 0 0 21.49-6.88 70.4 26.24a242.65 242.65 0 0 1 128.18 0c48.87-33.13 70.33-26.24 70.33-26.24 14 35.25 5.18 61.27 2.55 67.75 16.41 17.9 26.31 40.75 26.31 68.69 0 98.35-59.85 120-116.88 126.32 9.19 7.9 17.38 23.53 17.38 47.41 0 34.22-.31 61.83-.31 70.23 0 6.85 4.61 14.81 17.6 12.31C438.72 464.97 512 369.08 512 256.02 512 114.62 397.37 0 256 0z"></path></svg> Source code</a>
        </li>
    </ul>

    <a class="btn btn-small btn-outline-success" href="https://github.com/FSHSchool/fsh-finder/issues">Report a problem</a>
</header>

<div class="container">
    <div class="alert alert-success" role="alert">
        <strong>This is a list of GitHub repositories that contain <a href="https://fshschool.org">FSH</a> code.</strong>  Only repositories that use <a href="http://hl7.org/fhir/uv/shorthand/">FSH</a> or <a href="https://fshschool.org/docs/sushi/">SUSHI configuration</a> on the default branch are included. Please see <a href="https://github.com/FSHSchool/fsh-finder/blob/main/README.md">the README</a> for more details on how this works. Last refreshed about <time datetime="{{ updated }}">{{ updated }}</time>.
    </div>

    <table class="table table-sm table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Implementation Guide</th>
            <th scope="col">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for repo in repos %}
        <tr>
            <th scope="row">{{ forloop.index }}</th>
            <td>
                <strong>{{ repo.ig_title }}</strong>
                <div class="ig-info">
                    <img src="github.png" alt="GitHub Icon" style="width: 1em; padding-bottom: 0.2em;"> <a href="https://github.com/{{ repo.repo_owner }}/{{ repo.repo_name }}">{{ repo.repo_owner }} / <strong>{{ repo.repo_name }}</strong></a> updated <time datetime="{{ repo.updated_at }}">{{ repo.updated_at }}</time>{% if repo.ci_build_url %} [<a href="{{ repo.ci_build_url }}">CI build</a>]{% endif %}
                </div>
            </td>
            <td style="text-align: right;">
                {% if repo.feature_assessments.FeatureSushiOne.any_branch %}
                    <span class="badge badge-success" data-toggle="popover" data-trigger="hover click" title="FSH 1.0+" data-content="Default branch includes a <code>input/fsh/</code> folder" data-html="true">FSH 1.0+</span>
                {% elsif repo.feature_assessments.FeatureSushiOld.any_branch %}
                    <span class="badge badge-info" data-toggle="popover" data-trigger="hover click" title="FSH 0.x" data-content="Default branch includes a <code>fsh/</code> folder" data-html="true">FSH 0.x</span>
                {% elsif repo.feature_assessments.FeatureSushiOneConfig.any_branch %}
                    <span class="badge bg-secondary text-light" data-toggle="popover" data-trigger="hover click" title="Config only" data-content="Default branch includes a <code>sushi-config.yaml</code> file without an <code>input/fsh/</code> folder." data-html="true">Config only</span>
                {% endif %}
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="callout callout-warning">
        <h5>Is your IG missing?</h5>
        <p>
        <ul>
            <li>The easiest way to add it is to <a href="https://github.com/FHIR/auto-ig-builder">register it for CI builds on build.fhir.org</a>.</li>
            <li>You can also submit a pull request to add your GitHub account to the list of manually crawled sources. Currently the manually crawled accounts are defined <a href="https://github.com/FSHSchool/fsh-finder/blob/main/settings.yml">here</a>.</li>
            <li>If your IG is registered for CI builds or is already covered by the manual crawl sources, and it still does not appear, please <a href="https://github.com/FSHSchool/fsh-finder/issues">log an issue</a>.</li>
        </ul>
        </p>
    </div>
    <footer class="footer text-center" style="margin-bottom: 5em;">
        <div class="container">
            <a class="text-muted" href="https://github.com/FSHSchool/fsh-finder/blob/main/README.md#license">Copyright 2020 The MITRE Corporation</a>. <span class="text-muted">Approved for Public Release; Distribution Unlimited. Public Release Case Number 16-1988.</span>
        </div>
    </footer>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha512-8qmis31OQi6hIRgvkht0s6mCOittjMa9GMqtK9hes5iEQBQE/Ca6yGE5FsW36vyipGoWQswBj/QBm2JR086Rkw==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.min.js" integrity="sha512-RlGrSmkje9EE/FXpJKWf0fvOlg4UULy/blvNsviBX9LFwMj/uewXVoanRbxTIRDXy/0A3fBQppTmJ/qOboJzmA==" crossorigin="anonymous"></script>
<script>
    $(function () {
        $('[data-toggle="popover"]').popover();
        jQuery("time").timeago();
    })
</script>
</body>
</html>
